html {
  text-align: left;
  font-family: "Ensign:Serif", McKay, "McKay ldsLat", Palatino,
    "Palatino Linotype", Palatino-Roman, Pahoran, "Pahoran ldsLat",
    "Noto Sans Myanmar", NotoSansMyanmar, SaysetthaldsLao, NotoSerifTamil,
    serif;
}

@media screen and (orientation: portrait) {
  /* For now it blocks tablets in portrait mode. Not desired. */
  html {
    overflow: hidden;
  }

  #choiceBar,
  .instructions,
  .langOutput,
  footer {
    display: none;
    visibility: hidden;
  }

  .imageCredits {
    font-size: 7px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 3px;
  }

  .mobile-portrait img,
  #rotate-phone {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7rem;
  }

  #rotate-phone {
    width: 7rem;
    padding-top: 10rem;
    text-align: center;
  }
}

@media screen and (orientation: landscape) {

  .mobile-portrait {
    display: none;
    visibility: hidden;
  }

  .title-number {
    font-weight: bold;
    font-size: 20px;
  }

  /* This chunk allows the dual scroll, source: http://jsfiddle.net/7ry4kndz/1/ */
  .langOutput,
  html,
  body,
  main {
    height: 99.9%;
  }

  .langOutput {
    display: grid;
    grid-template-columns: auto 1.5rem auto;
    /* visibility: hidden; */
  }

  .left {
    justify-self: end;
    width: 100%;
    /* height: 100%; */
    overflow: scroll;
    grid-column: 1 / 2;
    
  }

  .left::-webkit-scrollbar {
    display: none;
  }

  .right {
    justify-self: start;
    width: 100%;
    /* height: 100%; */
    overflow: scroll;
    grid-column: 3 / 4;
  }

  .right::-webkit-scrollbar {
    display: none;
  }
  /* Dual scroll till here */

  /* Idea on how to allign verses... But more complicated than the example: https://stackoverflow.com/questions/38275925/how-to-align-two-columns-in-html */

  main {
    padding: 1rem;
    height: 300%; 
    /* 300% is a hacky fix for mobile */
    /* Could improve the mobile view changing that padding */
  }

  header {
    padding-top: 15px;
  }

  #choiceBar {
    margin: auto;
    text-align: center;
  }

  /* FIX THE FOOOTER LATER. I have bigger problems with other stuff. */
  footer {
    position: relative;
    bottom:0;
    right:0;
    height: auto;
    /* width: 100%; */
    /* background-color: var(--bar-colour); */
    padding: 1rem;
    transition: bottom 0.3s;
  }

  .me {
    /* display: grid;
    grid-template-columns: auto auto; */
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .me p {
    font-size: 15px;
    font-style: italic;
    padding: 0;
    margin: 0;
  }
  
  #github {
    text-align: right;
    /* grid-column: 1; */
  }
  #me {
    text-align: right;
    /* grid-column: 2; */
  }

  .langOutput a {
    pointer-events: none;
    color: black;
    text-decoration: none;
  }

  .langOutput footer,
  sup {
    /* Do NOT confuse with the site footer. This hides the footnotes from the scriptures and the superindexes. */
    display: none;
    visibility: hidden;
  }

  .subtitle,
  .verse-number {
    font-weight: 700;
  }

  .study-summary {
    font-style: italic;
  }

  .classic-scripture .body-block .verse {
    text-indent: 0;
    padding-bottom: 0.65em;
  }

  p {
    line-height: 30px;
    font-size: 21px;
    padding: 0px 0px 11.7px;
  }

  .instructions {
    padding-top: 1rem;
    max-width: 80%;
    margin: auto;
  }

  .instructions h3 {
    padding-top: 1rem;
  }
}
