@media only screen and (min-width: 1000px){
    main{
        max-width: 900px;
        min-width: 900px;
    }
    main p{
        font-size: 22px;
    }
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 26px;
    }
    button{
         font-size: 24px;       
    }
    .home-container form label{
        font-size: 24px;
    }
    .home-container form button{
        font-size: 28px;
    }
    .home-container form input{        
        min-width: 300px;
        font-size: 22px;
    }
    .error{
        font-size: 22px;
    }
    .home-container ol{
        font-size: 24px;
    }   
    #playing-container{
        grid-template-columns: 60% 40%;        
    }
    
    .playing-section .hintBtn, .playing-section .skipBtn{
        font-size: 19px;
    }

    .play-subheader section:first-child{        
        font-size: 22px;        
    }
    .play-subheader section:nth-child(2) p:first-child, .play-subheader section:last-child p:first-child{
        font-size: 19px;
        
    }
    .play-subheader section:nth-child(2) p:last-child, .play-subheader section:last-child p:last-child{
        font-size: 24px;
        margin-bottom: 10px;
        
    }
    .result-container section #wrong-answer{
        font-size: 22px;
    }
    .result-container section h3{
        margin: 0 0 8px 0;
        font-size: 27px;
    }
    header h1{
        font-size: 46px;  
    }
    
}