@media only screen and (min-width: 520px){
    main{
        margin: 20px 10%;        
    }
    main p{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 24px;
    }
    button{
         font-size: 22px;       
    }
    .home-container form label{
        font-size: 22px;
    }
    .home-container form button{
        font-size: 24px;
    }
    .error{
        padding: 0 30px;
        font-size: 18px;
    }
    footer img{
        max-width: 490px;
        margin-top: -120px;     
    }
    footer p{
        font-size: 14px;        
    }
}