@media only screen and (min-width: 520px){
    main{
        margin: 20px auto;
        max-width: 680px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 24px;
    }
    .home-subheader button{
         font-size: 22px;       
    }
    .home-container form label{
        font-size: 22px;
    }
    .home-container form button{
        font-size: 24px;
    }
    footer img{
        position: relative;
        max-width: 490px;
        bottom: 0px;
        right: 0;
        left: 0;   
        margin-top: -120px;     
    }
    footer p{
        margin-top: 10px;        
    }
    

}