body{
    background-image: url("../images/b6.png");
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Boogaloo',Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-size: 20px;
}
header{
    background-color: #1A3A9B;
    margin: 0;
    padding: 0;
    text-align: center;
}
header h1{
    margin: 0;
    padding: 15px 5px;
    background: -webkit-linear-gradient(#F0A630,#C42020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #F0A630;
    
      
}
main{
    margin: 10px 5px;
    
}
.home-subheader{
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px
}
.home-subheader button{
    border: 0;
    background-color: #1A3A9B;
    color: #F0A630;
    padding: 5px;
    font-family: 'Boogaloo',Verdana, Geneva, Tahoma, sans-serif;
}
.home-subheader button:hover{
    background-color: #11255f;
    box-shadow: 0px 0px 5px #222222;
    transition: box-shadow 0.5s;
    
}
.home-container{
    margin: 20px 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.4);   

}
.home-container h2{
    margin: 0 0 20px 0;
    text-align: center;
    color: #222222;
}
.home-container form{
    text-align: center;
    margin: 2px auto;
}
.home-container form label{
    display: block;
    font-family: 'Boogaloo',Verdana, Geneva, Tahoma, sans-serif;
}
.home-container form input{
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
    border: 2px solid #F0A630;
}
.home-container form button{
    border: 0;
    background-color: #1A3A9B;
    color: #F0A630;
    padding: 5px 15px;
    font-family: 'Boogaloo',Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.home-container form button:hover{
    background-color: #11255f;
    box-shadow: 0px 0px 5px #222222;
    transition: box-shadow 0.3s;
    
}
footer{
    border-top: 4px solid #F0A630;
    margin-top: auto;
    background-color: #222222;
    text-align: center;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: 70px 30px;
    align-items: center;
    justify-items: center;
}

footer img{
    max-width: 84%;  
    margin-top: -75px;
}
footer p{
    color: #b8b8b8;  
    font-size: 12px;
    
}