header{
    background-color: #272626;
    padding: 0;
    margin: 0;
}
main{
    margin: 20px 5px 40px 5px;
    text-align: center;
}
main p{
    text-align: center;
    padding: 0 10px;
    font-size: 15px;
    color: #5B5B5B;
}
 
body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  color: #444;  
}
button{
    border: none;
    font-family: 'Oswald', sans-serif;
    padding: 5px 10px 10px 10px;
    background-color: #272626;
    color: #cfcf0e;
    margin: 10px;
    font-size: 19px;
    
}
button:hover{
    background-color: #000;
    color: #9e801c;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    color: #5B5B5B;
    font-weight: lighter;
  }
h1{
    text-align: center;
    font-size: 24px;
    padding: 20px 7px;
    color: #cfcf0e;
    margin: 0;
}
h4{
    color: #cfcf0e;
    background-color: #272626;
    font-size: 19px;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 0;
}
.container{
    margin-bottom: 30px;
}
.container section div{
    background-color: #e0dfdf;
    padding: 10px 7px;
}
