@media only screen and (min-width: 1000px){
    main{
        margin: 20px auto;
        max-width: 900px;
        min-width: 900px;
    }
    main p{
        font-size: 22px;
    }
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 26px;
    }
    button{
         font-size: 24px;       
    }
    .home-container form label{
        font-size: 24px;
    }
    .home-container form button{
        font-size: 28px;
    }
    .home-container form input{        
        min-width: 300px;
        font-size: 22px;
    }
    .error{
        font-size: 22px;
    }
    .home-container ol{
        font-size: 24px;
    }   
    #playing-container{
        display: grid;
        grid-template-columns: 60% 40%;        
    }
    #hints{
        grid-column: 1/2;  
        grid-row: 1/4; 
    }
    .hints-container{
        margin: 5px;     
    }
    #scoreboard{
        grid-column: 2/3;
    }
    .play-subheader{
        margin: 5px;
        max-width: 100%;
        
    }
    .play-container{
        margin: 5px;
        grid-column: 2/3;
        
    }
    .playing-section{
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .playing-section .hintBtn, .playing-section .skipBtn{
        font-size: 19px;
    }

    .play-subheader section:first-child{        
        font-size: 22px;        
    }
    .play-subheader section:nth-child(2) p:first-child, .play-subheader section:last-child p:first-child{
        font-size: 19px;
        
    }
    .play-subheader section:nth-child(2) p:last-child, .play-subheader section:last-child p:last-child{
        font-size: 24px;
        margin-bottom: 10px;
        
    }
    .play-container .error{
        font-size: 20px;
    }
    .result-container{
        grid-row: 1/4;
        margin: 5px;
    }
    
}