@media only screen and (min-width: 480px) {

	h1 {
		font-size: 2.5rem;
	}
	main {
		max-width: 450px;
		border: 1px solid #35250c;
		padding: 10px;
		margin: 30px auto;
	}

	main section{
		box-shadow: none;    
		position: relative;
	}
	.info{
		margin-bottom: 70px;
	}
}